# deps
node_modules
.pnpm
.pnpm-store

# pnpm / npm / yarn logs & state
.pnpm-debug.log*
.pnpm-workspace-state-v1.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# npm lockfile (we use pnpm)
package-lock.json
**/package-lock.json

# turbo
.turbo

# env
.env
.env.*
.env.local

# Next.js / builds
.next
dist
build
out

# OS / editor
.DS_Store
.idea
.vscode